* {
  padding:0px;
  margin:0px;
  scroll-behavior:smooth;
}
:root {
  --main-theme-color:rgb(0, 166, 147);
  --another-theme-color:rgb(0, 173, 154);
  --another-deep-color:rgb(0, 156, 138);
}
*:focus {
  outline:none;
}
::-webkit-scrollbar {
  display:none;
}
::-webkit-scrollbar-track {
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
input::selection {
  background-color:transparent;
}
Body {
  background-color:black;
  user-select:none;
  overflow-x:hidden;
}
.header {
  background:var(--main-theme-color);
  border-radius:10px;
  width:95%;
  height:60px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  cursor:context-menu;
}
.header-text {
  color:white;
  font-family:Aviny;
  font-size:30px;
  text-align:center;
  margin:3px 10px;
  display:inline-block;
  cursor:pointer;
  transition:0.3s;
}
.header-text:hover {
  font-size:36px;
  margin-top:-10px;
}
#main-section {
  background:var(--main-theme-color);
  border-radius:10px;
  width:95%;
  height:490px;
  margin:30px auto;
  justify-content:center;
  display:flex;
}
.main-icon {
  width:430px;
  height:430px;
  margin:15px auto;
}
#title-text {
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
  margin-top:200px;
}
#about-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.about-section {
  background:var(--main-theme-color);
  width:280px;
  height:420px;
  border-radius:20px;
  margin:100px auto;
  transition:0.3s;
  cursor:default;
}
.about-section:hover {
  transform:scale(1.05);
}
.about-icon {
  width:140px;
  height:140px;
  margin:30px auto;
  justify-content:center;
  display:flex;
}
.about-title {
  font-family:Aviny;
  font-size:32px;
  color:white;
  text-align:center;
  margin:-20px auto;
}
.about-description {
  font-family:Vazir;
  font-size:14px;
  color:white;
  width:230px;
  height:170px;
  text-align:center;
  margin:20px auto;
}
#poster-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.poster-section {
  background:var(--main-theme-color);
  border-radius:20px;
  width:400px;
  height:400px;
  margin:100px auto;
  transition:0.4s;
}
.poster-section:hover {
  transform:scale(1.05);
}
.poster-title {
  background:var(--another-theme-color);
  border-radius:20px 20px 0 0;
  width:340px;
  height:60px;
  border:none;
  font-family:Aviny;
  font-size:36px;
  color:white;
  text-align:center;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:30px auto;
  transition:0.4s;
  cursor:pointer
}
.poster-title:hover {
  background:var(--another-deep-color);
}
.poster-image-container {
  background:var(--another-theme-color);
  width:340px;
  height:200px;
  border:none;
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:-20px auto;
  transition:0.4s;
  cursor:pointer
}
.poster-image-container:hover {
  background:var(--another-deep-color);
}
.poster-image {
  width:340px;
  height:200px;
  display:flex;
  justify-content:center;
  margin:-20px auto;
}
.poster-button {
  background:var(--another-theme-color);
  border-radius:0 0 20px 20px;
  width:340px;
  height:60px;
  border:none;
  font-family:Aviny;
  font-size:22px;
  color:white;
  text-align:center;
  justify-content:center;
  padding-top:10px;
  display:flex;
  margin:30px auto;
  transition:0.4s;
  cursor:pointer
}
.poster-button:hover {
  background:var(--another-deep-color);
}
#video-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.video-section {
  background:var(--main-theme-color);
  width:620px;
  height:340px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
}
.inner-video-section {
  background:var(--another-theme-color);
  width:540px;
  height:260px;
  border-radius:20px;
  margin:-110px auto;
  transition:0.4s;
}
.video-section:hover {
  transform:scale(1.05);
}
.video-title {
  font-family:Aviny;
  font-size:40px;
  color:white;
  margin:150px auto;
  padding-top:65px;
  text-align:center;
}
.video-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  width:300px;
  height:50px;
  margin:-150px auto;
  text-align:center;
}
#podcast-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.podcast-section {
  background:var(--main-theme-color);
  border-radius:20px;
  width:400px;
  height:400px;
  margin:100px auto;
  transition:0.4s;
}
.podcast-section:hover {
  transform:scale(1.05);
}
.podcast-title {
  background:var(--another-theme-color);
  border-radius:20px 20px 0 0;
  width:340px;
  height:60px;
  border:none;
  font-family:Aviny;
  font-size:36px;
  color:white;
  text-align:center;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:30px auto;
  transition:0.4s;
  cursor:pointer
}
.podcast-title:hover {
  background:var(--another-deep-color);
}
.podcast-image-container {
  background:var(--another-theme-color);
  width:340px;
  height:200px;
  border:none;
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:-20px auto;
  transition:0.4s;
  cursor:pointer
}
.podcast-image-container:hover {
  background:var(--another-deep-color);
}
.podcast-image {
  width:340px;
  height:200px;
  display:flex;
  justify-content:center;
  margin:-20px auto;
}
.podcast-button {
  background:var(--another-theme-color);
  border-radius:0 0 20px 20px;
  width:340px;
  height:60px;
  border:none;
  font-family:Aviny;
  font-size:22px;
  color:white;
  text-align:center;
  justify-content:center;
  padding-top:10px;
  display:flex;
  margin:30px auto;
  transition:0.4s;
  cursor:pointer
}
.podcast-button:hover {
  background:var(--another-deep-color);
}
#contact-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.contact-section {
  background:var(--main-theme-color);
  width:280px;
  height:420px;
  border-radius:20px;
  margin:100px auto;
  transition:0.3s;
}
.contact-section:hover {
  transform:scale(1.05);
}
.contact-icon {
  width:140px;
  height:140px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  cursor:pointer;
  transition:0.5s;
}
.contact-icon:hover {
  transform:rotate(180deg);
}
.contact-title {
  font-family:Aviny;
  font-size:32px;
  color:white;
  text-align:center;
  margin:-20px auto;
}
.contact-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  width:230px;
  height:170px;
  text-align:center;
  margin:20px auto;
}
.footer {
  background:var(--main-theme-color);
  width:100%;
  height:360px;
  margin-top:100px;
}
@font-face {
    font-family:Aviny;
    src: url('../font/Aviny.ttf');
}
@font-face {
    font-family:Vazir;
    src: url('../font/Vazir.ttf');
}
@media only screen and (max-width: 900px) {
  #main-section {
    height:300px;
  }
  .main-icon {
    width:250px;
    height:250px;
  }
  .header-text {
    font-size:22px;
    margin:11px 7px;
  }
  .header-text:hover {
    font-size:28px;
    margin:0px 7px;
  }
  #about-template {
    flex-direction:column;
    margin-top:100px;
  }
  .about-section {
    margin-top:-70px;
    width:300px;
  }
  #poster-template {
    flex-direction:column;
    margin-top:100px;
  }
  .poster-section {
    margin-top:-70px;
    width:300px;
    height:340px;
  }
  .poster-title {
    width:240px;
    height:50px;
    font-size:26px;
  }
  .poster-image-container {
    width:240px;
    height:160px;
  }
  .poster-image {
    width:280px;
    height:160px;
  }
  .poster-button {
    width:240px;
    height:50px;
    font-size:18px;
  }
  #video-template {
    flex-direction:column;
    margin-top:100px;
  }
  .video-section {
    margin-top:-70px;
    width:300px;
    height:220px;
  }
  .inner-video-section {
    width:240px;
    height:160px;
    margin-top:30px;
    margin-left:30px;
    position:absolute;
  }
  .video-title {
    font-size:28px;
    position:absolute;
    margin-top:-30px;
    margin-left:22px;
  }
  .video-description {
    font-size:10px;
    background:none;
    width:180px;
    margin-top:80px;
  }
  #podcast-template {
    flex-direction:column;
    margin-top:100px;
  }
  .podcast-section {
    margin-top:-70px;
    width:300px;
    height:340px;
  }
  .podcast-title {
    width:240px;
    height:50px;
    font-size:26px;
  }
  .podcast-image-container {
    width:240px;
    height:160px;
  }
  .podcast-image {
    width:280px;
    height:160px;
  }
  .podcast-button {
    width:240px;
    height:50px;
    font-size:18px;
  }
  #contact-template {
    flex-direction:column;
    margin-top:100px;
  }
  .contact-section {
    margin-top:-70px;
    width:300px;
  }
}
