* {
  padding:0px;
  margin:0px;
  scroll-behavior:smooth;
}
:root {
  --main-theme-color:rgb(92, 50, 168);
  --another-theme-color:rgb(98, 57, 173);
}
*:focus {
  outline:none;
}
::-webkit-scrollbar {
  width:0px;
}
::-webkit-scrollbar-track {
  border-radius:10px;
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
p {
  font-family:Aviny;
  font-size:30px;
  color:white;
}
input::selection {
  background-color: transparent;
}
Body {
  background-color:black;
  user-select:none;
  overflow-x:hidden;
}
#header {
  background:var(--main-theme-color);
  width:95%;
  height:60px;
  border-radius:10px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  cursor:context-menu;
}
#header-text {
  text-align:center;
  margin:3px 10px;
  display:inline-block;
  cursor:pointer;
  transition:0.3s;
}
#header-text:hover {
  font-size:36px;
  margin-top:-10px;
}
#skill-section {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
#skill-template {
  background:var(--main-theme-color);
  width:280px;
  height:420px;
  border-radius:20px;
  margin:100px auto;
  transition:0.3s;
  cursor:default;
}
#skill-template:hover {
  transform:scale(1.05);
}
#project-section {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
#project-template {
  background:var(--main-theme-color);
  width:400px;
  height:380px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
}
#project-template:hover {
  transform:scale(1.05);
}
#resume-section {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
#resume-template {
  background:var(--main-theme-color);
  width:620px;
  height:340px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
}
#inner-resume-template {
  background:var(--another-theme-color);
  width:540px;
  height:260px;
  border-radius:20px;
  margin:-110px auto;
  transition:0.4s;
}
#resume-template:hover {
  transform:scale(1.05);
}
#resume-title {
  font-family:Aviny;
  font-size:40px;
  margin:150px auto;
  color:white;
  padding-top:65px;
  text-align:center;
}
#resume-desc {
  font-family:Vazir;
  font-size:16px;
  color:white;
  width:300px;
  height:50px;
  margin:-150px auto;
  text-align:center;
}
#contact-section {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
#contact-template {
  background:var(--main-theme-color);
  width:280px;
  height:420px;
  border-radius:20px;
  margin:100px auto;
  transition:0.3s;
}
#contact-template:hover {
  transform:scale(1.05);
}
.contact_icon {
  width:140px;
  height:140px;
  margin:30px auto;
  justify-content:center;
  display:flex;
}
.contact_title {
  font-family:Aviny;
  font-size:32px;
  color:white;
  text-align:center;
  margin:-20px auto;
}
.contact_desc {
  font-family:Vazir;
  width:230px;
  height:170px;
  font-size:16px;
  color:white;
  text-align:center;
  margin:20px auto;
}
.skill_icon {
  width:140px;
  height:140px;
  margin:30px auto;
  justify-content:center;
  display:flex;
}
.skill_title {
  font-family:Aviny;
  font-size:32px;
  color:white;
  text-align:center;
  margin:-20px auto;
}
.skill_desc {
  font-family:Vazir;
  width:230px;
  height:170px;
  font-size:16px;
  color:white;
  text-align:center;
  margin:20px auto;
}
.projects_title {
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
  margin:10px; auto;
}
.projects_image {
  width:340px;
  height:200px;
  border-radius:20px;
  display:flex;
  justify-content:center;
  margin:-10px auto;
}
.projects_desc {
  font-family:Vazir;
  font-size:18px;
  color:white;
  text-align:center;
  width:340px;
  height:70px;
  margin:20px auto;
}
#main-text {
  font-family:Aviny;
  font-size:50px;
  text-align:center;
  margin-top:200px;
}
#main-text {
  font-size:44px;
}
#main-section {
  width:95%;
  height:490px;
  background:var(--main-theme-color);
  justify-content:center;
  display:flex;
  border-radius:10px;
  margin:30px auto;
}
#cat_picture {
  justify-content:center;
  display:flex;
  margin:140px auto;
  width:352px;
  height:229px;
}
#info_text {
  justify-content:center;
  display:flex;
  margin:125px auto;
}
@media only screen and (max-width: 900px) {
  #header-text {
    font-size:22px;
    margin:10px 7px;
  }
  #skill-section {
    flex-direction:column;
    margin-top:50px;
  }
  #skill-template {
    margin-top:-70px;
    width:300px;
  }
  #project-section {
    flex-direction:column;
    margin-top:50px;
  }
  #project-template {
    margin-top:-70px;
    width:300px;
    height:300px;
  }
  #resume-section {
    flex-direction:column;
    margin-top:50px;
  }
  #resume-template {
    margin-top:-70px;
    width:300px;
    height:220px;
  }
  #contact-section {
    flex-direction:column;
    margin-top:50px;
  }
  #contact-template {
    margin-top:-70px;
    width:300px;
  }
  #inner-resume-template {
    width:240px;
    height:160px;
    margin-top:30px;
    margin-left:30px;
    position:absolute;
  }
  #resume-title {
    font-size:28px;
    position:absolute;
    margin-top:-30px;
    margin-left:22px;
  }
  #resume-desc {
    font-size:10px;
    background:none;
    width:180px;
    margin-top:80px;
  }
  .projects_title {
    font-size:36px;
  }
  .projects_image {
    width:240px;
    height:160px;
  }
  .projects_desc {
    font-size:12px;
    background:none;
    width:225px;
  }
  #skill-section {
    margin-top:100px;
  }
  #project-section {
    margin-top:100px;
  }
  #resume-section {
    margin-top:100px;
  }
  #contact-section {
    margin-top:100px;
  }
  #main-section {
    height:300px;
  }
  #info_text {
    display:none;
  }
  #cat_picture {
    margin-top:230px;
    width:252px;
    height:159px;
  }
}
@font-face {
    font-family: Aviny;
    src: url('../font/Aviny.ttf');
}
@font-face {
    font-family: Vazir;
    src: url('../font/Vazir.ttf');
}
